<div ng-controller="{{componentName}}Ctrl as vm">
    <uix-page-title page-title="{{chineseName}}"></uix-page-title>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <form class="panel-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>labelName</label>
                        <input type="text" ng-model="vm.showParams.xxx" class="form-control input-sm">
                    </div>

                    <div class="form-group col-sm-3">
                        <label>labelName</label>
                        <uix-select ng-model="vm.showParams.xxx">
                            <uix-select-match>{{$select.selected.name}}</uix-select-match>
                            <uix-select-choices repeat="item in vm.xxxList | filter:$select.search">
                                <span>{{item.name}}</span>
                            </uix-select-choices>
                        </uix-select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-sm w-sm btn-default btn-primary" ng-click="vm.search()">
                        查询
                    </button>
                    <button type="button" class="m-l-md btn btn-sm w-sm btn-default" ng-click="vm.reset()">
                        重置
                    </button>
                </div>
            </form>
        </div>

        <div class="panel panel-default m-t-n-sm">
            <div class="panel-heading">
                <button class="btn btn-sm btn-default btn-addon" type="button">
                    <i class="fa fa-download"></i>按钮1
                </button>
            </div>
            <div class="panel-body">
                <div class="table-responsive table-scroll">
                    <table class="table table-striped b-t b-light m-b-none uix-table" uix-table-loader="vm.tableLoader">
                        <thead>
                            <tr>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                                <th>F</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="spu in vm.list">
                                <td class="uix-table-nowrap">
                                    <img class="inline v-top" width="60" height="60" ng-if="spu.spu.picUrls" ng-src="{{spu.spu.picUrls.split(',')[0] | webp:'60w_60h_1e_1c'}}">
                                    <div class="inline">
                                        <div>【{{spu.spu.brand}}】 {{spu.spu.name}}</div>
                                        <p>{{spu.spu.cat1.name}}/{{spu.spu.cat2.name}}/{{spu.spu.cat3.name}}</p>
                                        <div ng-if="spu.spu.unifyType === 'RepeatCommodity'" class="label label-info">已有事业部被标记为重复品</div>
                                        <div ng-if="spu.spu.unifyType === 'StandardCommodity'" class="label label-info">标准品</div>
                                    </div>
                                </td>
                                <td>{{spu.spuCode}}</td>
                                <td>{{spu.skuList[0]?spu.skuList[0].skuTypeDesc:''}}</td>
                                <td class="uix-table-nowrap">
                                    <div ng-repeat="sku in spu.skuList">
                                        {{spu.spuType ==='WRAPPAGE' ? sku.skuUnit : (sku.skuCode +' '+ sku.skuUnit +':'+ sku.skuUnitDesc)}}
                                    </div>
                                </td>
                                <td class="uix-table-nowrap">{{spu.spu.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <span ng-if="spu.buNameList && spu.buNameList.length<=6">
                                        {{spu.buNameList.join('、')}}
                                    </span>
                                    <span ng-if="spu.buNameList && spu.buNameList.length>6">
                                        {{spu.buNameList.slice(0,6).join('、')}}
                                        <a href="javascript:void(0)" class="text-info" ng-click="spu.isCollapsed = !spu.isCollapsed">
                                            <span>显示更多</span>
                                            <i class="glyphicon" ng-class="{'glyphicon-plus': !spu.isCollapsed, 'glyphicon-minus': spu.isCollapsed}"></i>
                                        </a>
                                    </span>
                                </td>
                                <td class="uix-table-nowrap" ng-if="spu.spu.spuType==='NORMAL'">
                                    <button type="button" class="btn btn-sm btn-default" title="查看" ui-sref="app.goods.spuManage.edit({spuCode: spu.spuCode,read:true})">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" title="编辑" ng-click="vm.editGoods(spu.spuCode,'NORMAL')">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" title="废弃" ng-click="vm.delGoods(spu.spuCode)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                                <td class="uix-table-nowrap" ng-if="spu.spu.spuType==='WRAPPAGE'">
                                    <button type="button" class="btn btn-sm btn-default" title="查看" ui-sref="app.goods.spuManage.editWrap({spuId: spu.spuCode,action:'READ',from:'SPU'})">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" title="编辑" ng-click="vm.editGoods(spu.spuCode,'WRAPPER')">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-if="spu.isCollapsed">
                                <td colspan="9" class="wrapper">
                                    {{spu.buNameList.join('、 ')}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer clearfix" ng-if="vm.tableLoader === 0">
                <uix-pager class="pull-right pagination-sm" ng-model="vm.pages.pageNo" items-per-page="vm.pages.pageSize" ng-change="vm.getList()"
                    total-items="vm.pages.totalCount"></uix-pager>
            </div>
        </div>
    </div>
</div>