<div ng-controller="{{detailName}} as vm">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="page-title">
            <a class="inline h3 padder" ui-sref="^">
                <i class="icon-action-undo"></i>
            </a>
            xxx
        </h1>
    </div>
    <div class="wrapper-md">
        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-body text-center scroll-x">
                    <xg-steps>
                        <xg-step tooltip="{{process.operatorNamesStr}}" ng-repeat="process in vm.processGuides" title="{{process.processNodeName}}"
                            desc="{{process.operationTime}}" status="{{process.status}}" zindex="{{$index===(vm.processGuides.length - 1)}}"
                            result=""></xg-step>
                    </xg-steps>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal clearfix">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="col-md-4 control-label">xxx</label>
                                <div class="col-md-8 m-t-xs text-break">
                                    xxx
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-md-4 control-label">xxx</label>
                                <div class="col-md-8 m-t-xs text-break">
                                    xxx
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center panel wrapper">
            <button type="button" ng-click="vm.save()" class="w-sm btn  btn-info m-l m-t " uix-btn-loader="vm.submitFlag"
                ng-disabled="vm.submitFlag">保存</button>
            <button type="button" ng-click="vm.cancel()" class="w-sm btn btn-default m-l m-t">返回</button>
        </div>
    </div>
</div>